*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

header{
  background-color: white;
  max-width: 1920px;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 999;
}

main{
  padding-top: 130px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul{
  list-style: none;
  justify-content: space-between;
}

li{
  font-weight: 500;
  font-size: .9rem;
  padding: 0 30px;
}

a{
  text-decoration: none;
}

h1{
  font-weight: 900;
  font-size: 5rem;
  width: 65%;
  margin-bottom: 50px;
  padding-top: 230px;
  padding-left: 35px;
  
}

h2{
  
  font-size: 2.5rem;
  font-weight: 800;
}

h3{
  font-size: 1.5rem;
}

section{
  margin-bottom: 150px;
}


.container{
  justify-content: center;
  align-items: flex-start;
  width: 80%;
}

.flex{
  display: flex;
}

.ar{
  aspect-ratio: 1/1;
}

/*Header*/

header .menu-left a, header .menu-right a{
  color: black;
}

.menu-right{
  margin-right: 10px;
}

header a:hover{
  text-decoration: underline;
}

.button-begin{
  background-color: #0061FF;
  padding: 5px 12px;
}

.button-begin:hover{
  background-color: #317ffc;
}

header .button-begin a {
  display: flex;
  align-items: center;
  color: white;
}

/*Hero*/

#hero{
  height: 820px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #B4D0E7;
  background-size: 740px;
}

.hero-description{
  height: 375px;
  width: 26%;
}

#hero img{
  height: 460px;
  width: 760px;
}

#hero p{
  font-size: .9rem;
  font-weight: 500;
  line-height: 1.5;
  padding-bottom: 28px;
}

#hero .container{
  align-items: flex-start;
}

.hero-button{
  background-color: #0061FF;
  color: white;
  padding: 8px 12px;
}

.hero-button:hover{
  background-color: #317ffc;
}

#hero p:last-of-type{
  padding-top: 28px;
}

.hero-arrow{
  flex-direction: column;
  justify-content: flex-end;
  height: 130px;
  font-size: 2.5rem;
}

/*Main*/

.main-container{
  width: 100%;
  justify-content: space-between;
}

#plan-business{
  width: 51%;
  justify-content: center;
  flex-direction: column;
}

main #plan-business .button-radio{
  padding: 50px 20px 20px 0;
}

.professional, .advanced, .enterprise{
  width: 30%;
  font-weight: 500;
  line-height: 30px;
  border: 1px solid #D0D0D3;
}

.enterprise-orizzontale{
  flex-direction: column;
  margin-top: 40px;
  width: 100%;
  font-weight: 500;
  line-height: 30px;
  border: 1px solid #D0D0D3;
}

.gray{
  color: gray;
  padding-bottom: 50px;
}

main #plan-business .top-icon{
  font-size: .8rem;
  padding: 10px 10px 10px 0;
}

#plan-business .top-column{
  font-size: .8rem;
  text-align: center;
  border-bottom: 1px solid #D0D0D3;
}

#plan-business .center-column, .bottom-column{
  flex-direction: column;
  padding: 30px 20px;
  font-size: .8rem;
  }

  #plan-business .center-column-orizzontale{
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }


#plan-business .main-container h3{
  padding-bottom: 20px;  
}

#plan-business .prezzo{
  font-weight: 600;
}

.center-icon, .check-blue{
  font-size: .7rem;
  padding-right: 4px;
}

.main-button{
  background-color: #0061FF;
  color: white;
  padding: 8px 12px;
  text-align: center;
  margin: 40px 0 30px;
  font-size: .8rem;
}

.main-button:hover{
  background-color: #317ffc;
}

.underline-link{
  text-decoration: underline;
}

.border{
  margin-left: 20px;
  width: 50px;
  border-bottom: 1px solid #D0D0D3;
}

.check-blue{
  color: #0061FF;
}

#plan-business .container-orizzontale .top-column{
  width: 100%;
}

#plan-business .container-orizzontale h3{
  font-size: 1.2rem;
  padding-top: 10px;
}

.container-orizzontale .center-column-orizzontale .main-button{
  margin: 20px 0 0;
}

.bottom-column-orizzontale{
  flex-direction: column;
  font-size: .8rem;
  padding-left: 20px;
}

#plan-business .container-orizzontale .bottom-column-orizzontale span{
  padding: 50px 0 20px;
}

/*Partner*/

#partner{
  width: 51%;
  }

#partner .image{
    width: 60%;
  }

#partner .main-container .image img{
    width: 100%;
    object-fit: contain;
  }

#partner .description{
  flex-direction: column;
  width: 40%;
  padding: 60px 40px;
  }

#partner .description span{
  padding: 25px 0 30px;
}

.white-button{
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  color: black;
  max-width: 160px;
  background-color: white;
}

/*Operation*/

#operation{
  width: 51%;
}

#operation .operation-box{
  flex-wrap: wrap;
  padding-top: 60px;
}


#operation .image-operation{
  width: 30%;
  flex-direction: column;
}

#operation .operation-center{
  margin: 0 40px;
}

#operation .main-container .image-operation img{
  object-fit: contain;
}

#operation .main-container .image-operation span{
  padding-top: 40px;
  
}

/*Customers*/

#customers{
  width: 51%;
}

#customers .main-container{
  width: 79%;
}

#customers h2{
  padding-bottom: 75px;
}

.link-customers{
  text-decoration: underline;
}

/*Team Customers*/

#team-customers{
  width: 100%;
}

.team-container{
  width: 100%;
  height: 620px;
}

.left-container-customers, .center-container-customers, .right-container-customers{
  flex-wrap: wrap;
  width: 34%; 
  height: auto; 
}


.box-customers{
  width: 50%;
  height: 310px;
}

.designit{
  background-image: url(../img/designit.svg);
  background-size: 155px 110px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #5d2c64;
  border: 15px solid #2f1632;
  filter: invert(100%);
}

.arizona{
  background-image: url(../img/arizona_state_university.svg);
  background-size: 155px 110px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #9ef7d4; 
  filter: invert(100%);
}

.florida{
  background-image: url(../img/university_of_florida.svg);
  background-size: 150px 25px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ff6c31;
  filter: invert(100%);
}

.topps{
  background-image: url(../img/topps.svg);
  background-size: 155px 110px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #00e3e3;
  filter: invert(100%);
}

.right-container-customers .wbr{
  background-image: url(../img/world_bicycle_relief.svg);
  background-size: 155px 110px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #2affe0;
  filter: invert(100%);
}

.right-container-customers .hearst{
  background-image: url(../img/hearst_corp.svg);
  background-size: 155px 110px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #4b2f18;
  filter: invert(100%);
}

.right-container-customers .lonely{
  background-image: url(../img/lonely_planet.svg);
  background-size: 155px 110px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #f2db7e;
  filter: invert(100%);
}

.right-container-customers .clear{
  background-image: url(../img/clear_channel.svg);
  background-size: 155px 110px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #0027cf;
  filter: invert(100%);
}

.team-container .center-container-customers{
  background-color:#F5F5F5;
  justify-content: flex-start;
  flex-direction: column;
  overflow: auto;
}

.team-container .center-container-customers img{
  width: 260px;
  height: 80px;
  margin: 50px;
}

.customers-border{
  border-bottom: 1px solid #D0D0D3;
  margin-left: 50px;
  width: 100px;
}
.center-container-customers span:first-of-type{
  padding: 50px 50px 60px;
}

.center-container-customers span:last-of-type{
  padding: 0 50px;
}

#team-customers .try-container{
  width: 100%;
  height: 360px;
  background-color: #B4D0E7;
  justify-content: center;
  align-items: center;
}

.try-container .main-container{
  width: 50%;
}

.try-container h2{
  color: #61082B;
  width: 60%;
}

.try-container .main-container .button-b{
  background-color: white;
  color: black;
  text-align: center;
  margin: 0 auto;
  max-height: 45px;
  padding: 10px 50px;
}

/*Questions*/

#questions{
  width: 51%;
}

#questions .main-container{
  flex-direction: column;
  justify-content: flex-start;
}

#questions .main-container h2{
  padding-bottom: 10px;
}

.main-container .row-questions{
  border-bottom: 1px solid black;
  padding: 45px 0;
  justify-content: space-between;
}

.fa-chevron-down{
  padding-right: 50px;
  font-size: .7rem;
}

/*Footer*/

footer{
  justify-content: center;
  width: 100%;
  height: 575px;
  background-color: black;
  color: white;
  margin: 0 auto;
}

.footer-container{
  width: 80%;
  justify-content: center;
  align-items: flex-start;
}

.column-dropbox, .column-products, .column-agency, .column-support, .column-community{
  width: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 35px;
  padding-top: 105px;
}

footer h3{
  padding-bottom: 40px;
}

footer a{
  color: white;
}
.footer-border{
  padding-top: 100px;
  border-bottom: 1px solid white;
  width: 120px;
}

.fa-sort-up{
  vertical-align: sub;
}

.column-dropbox span{
  padding-top: 40px;
}